.wrap {
    padding-top: 5%;
    height: 100vh;
    background-color: #E8E9F3;
    
}
.jumbotron{ 
    border-radius: 0% !important;
    box-shadow: 0px 5px 5px #555;
    background-color: #FFFF !important;
    
}

.display-3{
    text-align: center;
}

.lead {
    text-align: center;
}
.cardsrow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.cards {    /* individual cards */
    box-shadow: 0px 5px 5px #555;
    text-align:"center"
}

