.contact-icon {
    height: 200px;
    width: 200px;
}

.contact-icon2 {
    height: 400px;
    width: 400px;
}

.image-section {
    background-color: #383838;
}

.list-section {
    height: 100%;
}


.card {
    flex: 0 0 auto;
    overflow-y: auto;
}

.contact-container {
    
}

.contact-list {
    
}

.contact-info {
    margin-top: 1%;
}
.card-block {
    text-align: left;
}