.contact-card-wrapper {
    justify-content: center;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
}

.contact-card {
    text-align: center;
    justify-content: center;
    align-items: center;
}