.contact-icon {
    height: 200px;
    width: 200px;
}

.contact-icon2 {
    height: 400px;
    width: 400px;
}

.image-section {
}

.list-section {
    height: 100%;
}

.overla2y {

    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
  
.contact-card:hover {
    opacity: 0.5;
}

.card {
    flex: 0 0 auto;
    overflow-y: auto;
}

.contact-container {
    background-color: #E8E9EB;
}

.contact-list {
    
}

.contact-info {
    margin-top: 1%;
}
.card-block {
    text-align: left;
}

.input {
    background: transparent;
    width: 50%;
}

.form-control {
    margin-bottom: 5px;
}