.login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8E9F3;
}

.form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
}

.head {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text] {
     border: none;
     border-bottom: 2px solid;
}

input[type=password] {
    border: none;
    border-bottom: 2px solid;
}

.p-2 {
    text-align: center;
}