
i {
    border: solid gray;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(45deg);
    padding: 3px;
  }

.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in;
}

.container-test {
    position: relative; 
    margin: 0 auto;
    /* border: 2px solid green; */
    /* top: 15rem; */
    width: 100%;
}

.list-group {
    position: relative;
    margin: 0 auto;
    width: 100%;      
    /* border: 2px solid red; */
}

.name-lbl {
    position: relative;
    /* border: 2px solid blueviolet; */
}

.group-text {
    width: 10rem;
}

