.landing {
    background-color: #161616;
    height: 100vh;
}

.login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

.nav-test {
    background-color: white;
    background: white;
    color: white;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8E9F3;
}

.form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
}

.head {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text] {
     border: none;
     border-bottom: 2px solid;
}

input[type=password] {
    border: none;
    border-bottom: 2px solid;
}

.p-2 {
    text-align: center;
}

/* List Item dropdown caret */
#icon-caret-down {
    border: solid gray;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(45deg);
    padding: 3px;
    transition:box-shadow 0.2s ease-out;
}

#icon-caret-down:hover{
    box-shadow:0px 0px 15px lightgrey;
}

#icon-caret-down:active{
    box-shadow:0px 0px 10px lightgrey;
}

#icon-caret-down:focus{
    outline:none;
}

.fullscreen, html, body, #app, #app>div {
    height: 100vh;
  }

/* Delete Button */
.remove-btn {
    margin-right: 0.5rem;
}

/* Transition for deleting contact */
.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in;
}



/* Toggle list form button */
#toggle-btn {
    border:none;
    background-color: transparent;
}

#toggle-btn:focus, #toggle-btn:active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.no-sroll {
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

/* Add Button */
#add-item-btn{
    position: relative; 
    margin: 2rem auto;
    border:none;
    transition:box-shadow 0.2s ease-out;
}

#add-item-btn:hover{
    box-shadow:0px 0px 15px lightgrey;
}

#add-item-btn:active{
    box-shadow:0px 0px 10px lightgrey;
}

#add-item-btn:focus{
    outline:none;
}
 


/* Contains list group of contacts */
.container-test {
    position: relative; 
    margin: 0 auto;
    /* border: 2px solid green; */
    /* top: 15rem; */
    width: 50%;
}

/* List group containing contacts */
.list-group {
    position: relative;
    margin: 0 auto;
    width: 100%;      
    /* border: 2px solid red; */
}

/* List group item */
#list-group-item{
    border-radius: 4px;
    transition:box-shadow 0.2s ease-out;
}

#list-group-item:hover{
    box-shadow:0px 0px 10px lightgrey inset;
}

#list-group-item:active{
    box-shadow:0px 0px 10px lightgrey inset;
}

#list-group-item:focus{
    box-shadow:0px 0px 10px lightgrey inset;
    outline:none;
}

/* Contact label */
#name-label {
    position: 'relative';
    margin: '0 auto';
    cursor: pointer;
}

#name-label:focus, #name-label:active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}


/* Contact from transition */
.list-group-item-inner{
    transition: 0.2s ease-out;
}

.group-text {
    width: 10rem;
}

/* Search bar container */
.search-container {
    position: relative; 
    margin: 0 auto;
}
.search-input-form{
    position: relative; 
    margin: 0 auto;
}
/* Search Bar */
#search-bar {
    position: relative; 
    padding: 6px;
    margin: 0 auto;
    max-width: 70%;
    border-radius: 20px;
}

#search-btn {
    position: absolute;
    border-radius: 20px;
}

.flex {display: flex;}
.form-control { min-width: 0;}